<table>
<tr><td>
	<table>
	<tr><td width="100">村の名前:</td><td><%= @vil.name %></td></tr>
	<tr><td>村作成者:</td><td><%= @vil.userid %></td></tr>
	<tr><td>キャラセット:</td><td><%= Charset.charsets[@vil.char].name %></td></tr>
	</table>
</td></tr>
<tr><td><br></td></tr>
<tr><td>
<table>
<tr>
	<td width="130">昼の長さ:
	    <% if (@vil.period % 60 == 0) %>
	    	<%= @vil.period / 60 %>時間
	    <% else %>
	    	<%= @vil.period %>分
	    <% end %>
	</td>
</tr>
<tr>
	<td>夜の長さ:
	    <%
	    np = @vil.night_period.to_i
		if (np != 0)
	    	if (np % 60 == 0)
	    %>
	    		<%= np / 60 %>時間
	    	<% else %>
	    		<%= np %>分
	    	<% end %>
			<% if (@vil.life_period && @vil.life_period != 0) %>
				<td>生存者1人ごとに <%= @vil.life_period %>秒追加</td>
			<% end %>
		<% else %>
			夜無し
		<% end %>
	</td>
</tr>
</table>
<tr><td>開始方法: <%= if (@vil.upstart_time) then "#{@vil.start_hour}時 #{@vil.start_min}分に自動開始" else "手動開始" end %></td></tr>
<tr><td>最低開始可能人数: <%= @vil.entry_min %>人</td></tr>
<tr><td>最大参加可能人数: <%= @vil.entry_max %>人</td></tr>
<tr><td>通常発言数上限: <%= @vil.sayfull %>発言（長期のみ反映）</td></tr>
<tr><td>アクション数上限: <%= @vil.actfull %>アクション（長期のみ反映）</td></tr>
<tr><td>
<%=
	s = '発言数復活'
	if (@vil.remainflag)
		s += 'あり'
	else
		s += 'なし'
	end
	s += '（長期のみ反映）'
	s
%>
</td></tr>
<tr><td><br></td></tr>
<tr><td>
<table>
<tr>
	<td  colspan="2">
<%=
	s = 'ダミー'
	if (@vil.dummy)
		s += 'あり'
	else
		s += 'なし'
		s += (@vil.first_guard) ? '（初日護衛可能）' : '（初日護衛不可能）'
	end
	s
%>
</td></tr>
<tr>
	<td width="180"><%= if (@vil.card) then 'カード人狼形式' else 'ＢＢＳ形式' end %></td>
	<td><%= if (@vil.open_vote) then '記名投票' else '無記名投票' end %></td>
</tr>
<tr>
	<td>役職希望<%= if (@vil.hope_skill) then '有効' else '無効' end %></td>
	<td>夜コミット<%= if (@vil.night_commit) then '有り' else '無し' end %></td>
</tr>
<tr>
	<td>ID公開<%= if (@vil.open_id) then '有り' else '無し' end %></td>
	<td>墓下公開<%= if (@vil.open_skill) then '有り' else '無し' end %></td>
</tr>
<tr>
	<td>狂人スウィッチ<%= if (@vil.possessed) then '有り' else '無し' end %></td>
	<td><%= if (@vil.death_defeat) then '死んだら負け' else '普通に陣営が勝てばいいよ' end %></td>
</tr>
</table>
</td></tr>
<tr><td><br></td></tr>
<tr><td>編成: <%= Composition.compositions[@vil.composition].name %></td></tr>
<% if (@vil.state !=0 || @vil.composition == CUSTOM) && !(@vil.composition == RANDOM && @vil.state < 2) %>
	<tr><td class="monospace"><%= @vil.display_skill %></td></tr>
	<tr><td><table>
	<%=
		s = ""
		for i in 0...(@vil.skill_nums.size+1)/2
			s += "<tr>"
			sid = i*2
			sk = Skill.skills[sid]
			s += "<td>#{sk.name}: </td><td>#{@vil.skill_nums[sid]}人</td>"
			sid += 1
			s += %Q(<td width="50"></td>)
			if (sid == @vil.skill_nums.size)
				s += "<td></td><td></td>"
			else
				sk = Skill.skills[sid]
				s += "<td>#{sk.name}: </td><td>#{@vil.skill_nums[sid]}人</td>"
			end
			s += "</tr>"
		end
		s
	%>
	</table></tr></td>
<% elsif (@vil.composition == POSTING) %>
	<tr><td>投稿されたものからランダムで選ばれます</td></tr>
<% elsif (@vil.composition == RANDOM) %>
	<tr><td>この編成は何が出るかわかりません。</td></tr>
<% else %>
	<tr><td class="monospace"><%= @vil.display_composition(@vil.composition) %></td></tr>
<% end %>
</table>

