<table cellpadding=0 class="action_box">
	<tr>
		<td width="50"><img src="img/<%= "#{Charset.charsets[@vil.char].file_name}#{two(@player.pid)}" %>.png"></td>
		<td width="16"><img src="img/say00b.jpg"></td>
		<td>
			<table cellpadding=0 cellspacing=0 class="action_balloon">
			<tr>
				<td width="8"><img src="img/say01.jpg"></td>
				<td></td>
				<td width="8"><img src="img/say02.jpg"></td>
			</tr>
<form action="index.cgi" method="post">
<input type="hidden" name="vid" value="<%= @vid %>">
<input type="hidden" name="set_date" value="<%= @vil.date %>">
<% if !(!@vil.card && @vil.date == 2) %>
	<input type="hidden" name="cmd" value="vote">
<% else %>
	<input type="hidden" name="cmd" value="commit">
<% end %>
			<tr>
				<td></td>
				<td class="action_body">
<%
if(!@player.sid)
	sn = -1
else
	sn = @player.sid
end
if (sn == -1)
	s_str = "おまかせ"
elsif (sn == -2)
	s_str = "ランダム"
else
	s_str = Skill.skills[sn].name
end
if (@vil.state == 0)
	s_str += "を希望"
end
%>
<%= @player.name %> (<%= s_str %>)<%= " 希望は無効です。" if (!@vil.hope_skill && @vil.state == 0) %>

<% if(@vil.state == 1 && @vil.night == false && @player.dead == 0) %>
				</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td class="action_body">
	<% if !(!@vil.card && @vil.date == 2) %>
		投票：
		<select name="vote_id">
		<%=
		s = ''
		if (@player.vote == -1)
			s += "<option value = -1>未設定 *"
		else
			s += "<option value = -1>キャンセル"
		end
		s += "\n"
		@vil.pids.each do |p|
			next if (p == @player)
			i = p.num_id
			if (@player.vote == i)
				s += %Q(<option value = "#{i}" selected>#{p.name} *)
			else
				s += %Q(<option value = "#{i}">#{p.name})
			end
			s += "\n"
		end
		s
		%>
		</select>
		<input type="submit" value="変更" class="submit">
	<% else %>
		コミット:
		<select name="commit_value">
		<%=
		s = ''
		if (@player.commit == -1)
			s += "<option value = -1>未設定 *"
			s += "\n"
			s += "<option value = 0>時間を進める"
		else
			s += "<option value = 0>時間を進める *"
			s += "\n"
			s += "<option value = -1>キャンセル"
		end
		s += "\n"
		s
		%>
		</select>
		<input type="submit" value="変更" class="submit">
	<% end %>
<% end %>
					</td>
				<td></td>
			</tr>
</form>
<% if (!(@player.can_whisper &&  @vil.night && @vil.state == 1 && @player.dead == 0)) %>
	<% if (@conf.focus == 1) %>
			<form name="focus_form" action="index.cgi" method="post">
	<% else %>
			<form action="index.cgi" method="post">
	<% end %>
			<% if (@vil.period >= LONG && @vil.state == 1) %>
				<input type="hidden" name="cmd" value="prv">
			<% else %>
				<input type="hidden" name="cmd" value="msg">
			<% end %>
			<input type="hidden" name="vid" value="<%= @vid %>">
			<input type="hidden" name="j_data" value="日本語のデータ">
			<tr>
				<td></td>
				<td class="action_body">
<% if (@player.dead == 0) %>
				<textarea name="message" rows="5" class="action_textarea"></textarea><br>
<% else %>
				<textarea name="message" rows="5" class="groan_textarea"></textarea><br>
<% end %>

	<% if (@player.dead != 0) %>
				<input type="hidden" name="groan" value="on">
				<input type="submit" value="死者のうめき" class="submit">
				<input id="msg_th" name="think" value="on" type="checkbox"><label for="msg_th">独り言</label>
	<% elsif (@vil.night && @vil.state == 1) %>
				<input type="hidden" name="think" value="on">
				<input type="submit" value="独り言" class="submit">
	<% else %>
				<input type="submit" value="発言" class="submit">
				<%=
					if (@vil.period >= LONG && @vil.state == 1)
						"(#{@player.say_remain}/#{@vil.sayfull})"
					end
				%>
				<input id="msg_th" name="think" value="on" type="checkbox"><label for="msg_th">独り言</label>
	<% end %>
				<input id="msg_lo" name="loud" value="on" type="checkbox"><label for="msg_lo">大声</label>
	<% if (SMALL_VOICE) %>
				<input id="msg_sm" name="small_voice" value="on" type="checkbox"><label for="msg_sm"><%= SMALL_VOICE %></label>
	<% end %>
	<% if (@player.dead == 0 && !@vil.night) %>
				<span id="act_tog" class="act_toggle" onclick="actToggle('box_act', 'act_tog');">▼</span>
	<% end %>
				</td>
				<td></td>
			</tr>
			</form>
	<% if (@player.dead == 0 && !@vil.night) %>
			<form action="index.cgi" method="post">
			<input type="hidden" name="cmd" value="msg">
			<input type="hidden" name="vid" value="<%= @vid %>">
			<input type="hidden" name="set_date" value="<%= @vil.date %>">
			<input type="hidden" name="action" value="on">
			<input type="hidden" name="j_data" value="日本語のデータ">
			<tr>
				<td></td>
				<td class="action_body"><span id="box_act" style="display: none;"><br>
					<%= @player.name %>
					<select name="postpos" class="postpos">
		<%=
		s = ''
		for i in 0...POSTPOS.size do
			s += %Q(<option value = "#{i}">#{POSTPOS[i]})
			s += "\n"
		end
		s
		%>
					</select>
					<select name="action_id">
		<%=
		s = ''
		s += %Q(<option value = "" selected>)
		s += "\n"
		@vil.pids.each do |p|
			next if (p == @player)
			i = p.num_id
			s += %Q(<option value = "#{i}">#{p.name})
			s += "\n"
		end
		s
		%>
					</select>
					<input type="text" name="message" class="action_text" maxlength="50" autocomplete="off">
					<input type="submit" value="アクション" class="submit">
					<%=
						if (@vil.period >= LONG && @vil.state == 1)
							"(#{@player.action_remain}/#{@vil.actfull})"
						end
					%>
				</span></td>
				<td></td>
			</tr>
			</form>
	<% end %>
<% end %>
<%=
if (@player.dead == 0 && @vil.state == 1)
  if (@player.sid != 4 || @vil.possessed)
    if ( File.exists?("skel/skill#{two(@player.sid)}.html"))
      erbres("skel/skill#{two(@player.sid)}.html")
    end
  end
end
%>
			<tr>
				<td></td>
				<td>
<%=
s = ''
if (@vil.state > 1)
	if (@player.win == 0)
		s += %Q(<br><span class="win_res">あなたは勝利しました。</span>)
	else
		s += %Q(<br><span class="lose_res">あなたは敗北しました。</span>)
	end
elsif (@player.lovers.size > 0)
	@player.lovers.each do |p|
		s += %Q(<br><span class="love">あなたは #{p.name} と愛し合っています。</span>)
	end
end
s
%>
				</td>
				<td></td>
			</tr>
			<tr>
				<td><img src="img/say03.jpg"></td>
				<td></td>
				<td><img src="img/say04.jpg"></td>
			</tr>
			</table>
		</td>
	</tr>
</table>
<% if (@vil.state == 0) %>
<form action="index.cgi" method="post">
<input type="hidden" name="cmd" value="exit">
<input type="hidden" name="vid" value="<%= @vid %>">
<input type="hidden" name="exit_id" value="<%= @player.num_id %>">
<div align="right"><input type="submit" value="村を出る" class="submit"></div>
</form>
<% end %>
