<% if (@player.say_remain == 0) %>
<table width="100%">
<tr>
	<td align="center">
		<table class="main" cellpadding=0 cellspacing=0>
		<tr>
			<td align="left" valign="top">
				<table class="vil_main">
				<tr><td width="<%= LIST_WIDTH %>"><a href="index.cgi">トップページ</a></td><td></td></tr>
				<tr>
					<td></td><td>発言回数オーバーです。</td>
				</tr>
				<tr><td></td><td><a href="index.cgi?vid=<%= @vid %>#form">村へもどる</a></td></tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
<% else %>
<table width="100%">
<tr>
	<td align="center">
		<table class="main" cellpadding=0 cellspacing=0>
		<tr>
			<td align="left" valign="top">
				<table class="vil_main">
				<tr>
					<td width="<%= LIST_WIDTH %>"></td>
					<td><%= @prv_str %></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<table>
						<tr>
							<td width="140">
								<form action="index.cgi" method="post">
								<input type="hidden" name="j_data" value="日本語のデータ">
								<input type="hidden" name="cmd" value="msg">
								<input type="hidden" name="prv" value="on">
								<input type="hidden" name="message" value="<%= @val_msg %>">
	<% if (@cgi['loud'] == 'on') %>
								<input type="hidden" name="loud" value="on">
	<% end %>
								<input type="hidden" name="vid" value="<%= @vid %>">
								<input type="submit" value="発言" class="submit">
								</form>
							</td>
							<td>
								<form action="index.cgi" method="post">
								<input type="hidden" name="vid" value="<%= @vid %>">
								<input type="submit" value="キャンセル" class="submit">
								</form>
							</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>
			</td>
		</tr>
		</table>
	</td>
</tr>
</table>
<% end %>
